body {
    font-size: 16px;
}

.table-filter .form-actions {
    display: block;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 4px;
}

.table-btn-controls {
    margin-top: 8px;
}

.select-cell {
    width: 40px;
    text-align: center;
}

.col-actions {
    width: 10%;
    text-align: center;
}

.chapter-content {
    font-size: 18px;
    /*background-color: #eae4d3;*/
    /*border: 4px solid #c6bcb0;*/
    /*padding: 44px 48px;;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: justify;
}
.chapter-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-chapter .btn {
    margin: 0 20px;
}

.main-content {
    /*background: #f5f5f5;*/
}
.book-thumb {
    width: 60px;
    height: 90px;
}

a, a:hover {
    text-decoration: none;
}

.book-list .book-title a,
.book-list .book-title a:visited {
    color: #333;
    /*font-weight: bold;*/
}

.book-cover-trans {
    position: relative;
    z-index: 10;
    display: inline-block;
    transform: translateZ(50px);
    height: 95px;
    margin-left: 5px;
    padding-top: 5px;
}

.book-cover-trans img {
    width: 60px;
    height: 90px;
    transform: perspective(60px) rotateY(-10deg);
    -webkit-backface-visibility: hidden;
    z-index: 10;
    position: relative;
    display: block;
    left: -8px;
    top: -1px;
}

.book-cover-trans:before {
    position: absolute;
    z-index: 1;
    bottom: -2px;
    left: 10px;
    width: 20px;
    height: 10px;
    content: '';
    transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    box-shadow: 25px 0 5px 5px #adadad;
}

.book-cover-trans:after {
    position: absolute;
    z-index: 2;
    top: 1px;
    right: 0;
    width: 10%;
    height: 101%;
    content: ' ';
    transform: perspective(60px) rotateY(30deg);
    background-color: #efefef;
    box-shadow: inset 0 0 5px #333;
}

.book-info.page-header {
    padding-top: 16px;
}

.chapters {
    line-height: 36px;
}

.chapters .chap {
    border-bottom: 1px dotted #E2E2E2;
}

.books .book-item {
    padding: 6px 0;
    border-bottom: 1px dotted #E2E2E2;
}

.nav-chapter {
    margin: 8px 0;
}

.tag-list .label a{
    color: #FFF;
    display: inline-block;
}

.navbar{
    background: #55995b;
}

.navbar.navbar-collapse .navbar-container {
    background-color: #55995b;
}

.no-skin .navbar .navbar-toggle {
    background-color: #74ae54;
}

.no-skin .navbar .navbar-toggle:hover {
    background-color: #7ab451;
    border-color: rgba(255,255,255,.1);
}

.no-skin .navbar .navbar-toggle:hover {
    background-color: #74ae54;
}

.no-skin .navbar .navbar-toggle.display, .no-skin .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    background-color: #71ac56;
    box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.25);
    border-color: rgba(255,255,255,.35);
}

.no-skin .navbar .navbar-toggle:focus {
    background-color: #6fab57;
    border-color: transparent;
}