.table-filter .form-actions {
    display: block;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 4px;
}

.table-btn-controls {
    margin-top: 8px;
}

.select-cell {
    width: 40px;
    text-align: center;
}

.col-actions {
    width: 10%;
    text-align: center;
}

.chapter-content {
    font-size: 18px;
    /*background-color: #eae4d3;*/
    /*border: 4px solid #c6bcb0;*/
    /*padding: 44px 48px;;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: justify;
}
.chapter-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-chapter .btn {
    margin: 0 24px;
}

.main-content {
    /*background: #f5f5f5;*/
}